<!DOCTYPE html>
<html>
  <head>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script src="js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>VoD Streaming </title>
  </head>
  <body>
     <div align ="center" class="">
            <h1>Vod Streaming</h1>


            <button onClick = "location.href= '/login';"> Sign in</button>
            <button onClick = "location.href= '/signup';"> Sign Up</button>
    </div>
  </body>
</html>
